/*商家店铺页*/

.bg-white {
	background-color: white !important;
}

.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
a:hover{
	text-decoration: none;
}
body{
	padding: 0;
	background-color: whitesmoke;
}
body>.classify {
	z-index: 20;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.3);
	top: 0;
	width: 100vw;
	height: 100vh;
}

body>.classify .classifytop {
	width: 100%;
	height: 40px;
	background-color: white;
	border-bottom: 1px solid gainsboro;
}

body>.classify .classifytop ul {
	list-style-type: none;
	padding: 0;
	display: flex;
	padding: 5px 0px;
}

body>.classify .classifytop ul li {
	flex: 1;
	text-align: center;
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	border-right: 1px solid gainsboro;
}

body>.classify .classifytop ul li.classifyAdd {
	color: #337ab7;
}

body>.classify .classifytop ul li i {
	margin-top: 2px;
}

body>.classify .classifytop ul li:nth-last-of-type() {
	border: none;
}

body>.classify .classifyBottom div {
	padding: 0 !important;
	margin: 0 !important;
	height: 80vh;
	overflow: overlay;
}

body>.classify .classifyBottom ul {
	background-color: white;
	height: 100%;
	border-left: 1px solid gainsboro;
	margin: 0;
	padding-bottom: 30px;
	list-style-type: none;
	padding-left: 0;
}

body>.classify .classifyBottom ul li {
	padding: 5px 20px;
	border-bottom: 1px solid gainsboro;
	font-size: 17px;
	font-family: "微软雅黑";
}

body>.classify .classifyBottom .col-xs-7 ul {
	background-color: whitesmoke;
}

body>.classify .classifyBottom .col-xs-5 ul li.classifyBottomAdd {
	background-color: whitesmoke;
	color: #337ab7;
}

.container {
	padding-left: 0px !important;
	padding-right: 0px !important;
	margin: 0 auto;
}

body .container #myCarousel {
	margin: 0 auto;
	margin-bottom: 10px;
}

body .container #myCarousel .focus {
	width: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

body .container #myCarousel .focus .hd {
	width: 100%;
	height: 11px;
	position: absolute;
	z-index: 1;
	bottom: 5px;
	text-align: center;
}

body .container #myCarousel .focus .hd ul {
	display: inline-block;
	float: right;
	margin-right: 10%;
	height: 7px;
	padding: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 0;
	vertical-align: top;
}

body .container #myCarousel .focus .hd ul li {
	display: inline-block;
	width: 7px;
	height: 7px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #8C8C8C;
	margin: 0 5px;
	vertical-align: top;
	overflow: hidden;
}

body .container #myCarousel .focus .hd ul .on {
	background:#80BD6D;
}

body .container #myCarousel .focus .bd {
	position: relative;
	z-index: 0;
}

body .container #myCarousel .focus .bd li img {
	width: 100%;
	height: 140px;
	background: url(images/loading.gif) center center no-repeat;
}

body .container #myCarousel .focus .bd li a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/* 取消链接高亮 */
}

body>.row {
	z-index: 17;
	position: fixed;
	top: 0;
	width: 100%;
}
.dropdown-menu{
	padding-left: 5px !important;
	padding-right: 5px !important;
	height: auto !important;
	width: 250px;
}
.dropdown-menu li{
	display: block !important;
	
}
.container .row .classify,
body>.row>.classify {
	width: 100%;
	height: 3.1rem;
	display: inline-flex;
	padding-top: 8px;
	padding-bottom: 0.2rem;
	line-height: 2rem;
	margin-left: 0px;
	padding-bottom: 0.1rem;
}

.container>.row .classify>ul,
body>.rowz>.classify ul {
	display: block;
	width: 100%;
	height: 3.3rem;
	margin: 0px;
	padding-left: 15px;
	padding-right: 50px;
	white-space: nowrap;
}

.container .row .classify ul li,
body>.row .classify ul li {
	height: 3.1rem;
	white-space: nowrap;
	line-height: 2rem;
	display: inline;
	font-size: 1.5rem;
	border-bottom: 2px solid rgba(0, 0, 0, 0);
	color: rgb(61, 60, 60);
	text-align: center;
	margin-right: 8px;
	padding-bottom: 0.2rem;
}
.container .row .classify ul li a{
	color: #000000;
}
.container .row .classify ul li:last-child,
body>.row .classify ul li:last-child {
	padding: 0px;
}

.liAdd {
	
	color: #ee4353 !important;
}

#clickPullDown,
#clickPullDown1 {
	position: absolute;
	z-index: 3;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
	right: 0;
	line-height: 32.19px;
	margin-right: 0px;
	margin-top: -8px;
	height: 32.19px !important;
	padding-bottom: 0;
}

.container>.row>.zindex>.weui_tabbar>a>p {
	font-size: 1.05rem !important;
	font-family: shopIcon;
}

.iadd {
	color: #888 !important;
}

.screenTop {
	background-color: white;
	position: fixed;
	z-index: 502;
	opacity: 1;
	top: 0px;
	background-color: white;
}

.container .row .screen,
body>.row .screen {
	width: 100% !important;
	padding-left: 0px;
	z-index: 16;
}

.container .row .screen .classIFY,
body>.row .screen .classIFY {
	background-color: white;
	width: 100%;
	z-index: 2;
	height: 3.2rem;
}

body>.row .screen .classIFY #pullDown {
	position: fixed;
	padding: 0px;
	width: 100%;
	margin-left: 0;
	padding-left: 0;
	background-color: rgba(255, 255, 255, 1);
	animation: myfirst1 0.5s;
	-moz-animation: myfirst1 0.5s;
	/* Firefox */
	-webkit-animation: myfirst1 0.5s;
	/* Safari 和 Chrome */
	-o-animation: myfirst1 0.5s;
}

body>.row .screen .classIFY #pullDown ul {
	border: 1px solid gainsboro;
	font-size: 1.05rem;
	border-bottom: none;
	padding: 0;
}

body>.row .screen .classIFY #pullDown ul li {
	list-style-type: none;
	line-height: 35PX;
	border-bottom: 1px solid gainsboro;
	text-indent: 20px;
}

body>.row .screen .classIFY #pullDown .pullDownLeft,
body>.row .screen .classIFY #pullDown .pullDownRight {
	z-index: 502;
	padding: 0PX;
	height: 95vh;
	overflow: overlay;
	background-color: white;
}

body>.row .screen .classIFY #pullDown .pullDownLeft {
	width: 38%;
}

body>.row .screen .classIFY #pullDown .pullDownRight {
	background-color: #F0F0F0;
	width: 62%;
}

body>.row .screen .classIFY #pullDown .pullDownRight ul li a {
	color: black;
}

body>.row .screen .classIFY #pullDown .pullDownLeft ul {
	background-color: white;
	padding-left: 0;
}

.pullDownLeftAdd {
	color: #ee4353;
	background-color: #F0F0F0;
}


/*内容*/

.container>div.box1 {
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

.container>div.box1>a {
	position: relative;
	width: 100%;
	background-color: white;
	color: #000000;
	border: 1px solid #e6e6e6;
	border-top: 2px solid #000000;
	padding: 0;
	margin-top: 35px;
	text-decoration: none;
}

.container>div.box1>a>p:nth-of-type(1) {
	padding-left: 10px;
	width: 100%;
	height: 3.48rem;
	line-height: 3.48rem;
	font-family: "微软雅黑";
	font-size: 1.55rem;
	margin-bottom: 0;
}

.container>div.box1 {
	width: 100%;
}

.container>div.box1>a .bd {
	overflow: hidden;
}

.container>div.box1>a .bd ul {
	list-style-type: none;
	padding: 0;
	float: left;
}

.container>div.box1>a .bd ul li {
	width: 49%;
	float: left;
	overflow: hidden;
	display: inline-block;
}

.container>div.box1>a .bd ul li:nth-of-type(1) {
	margin-left: 1%;
}

.container>div.box1>a .bd ul li:nth-of-type(2) {
	float: right;
	right: 1%;
}

.container>div.box1>a .bd img {
	width: 99%;
	height: 142px;
}

.container>div.box1>a .hd {
	height: 40px;
	line-height: 40px;
	position: absolute;
	margin-top: -40px;
	background: rgba(0, 0, 0, 0);
	overflow: hidden;
	text-align: left;
	padding: 0 10px;
	right: 0;
}

.container>div.box1>a .hd ul {
	float: right;
	padding-top: 16px;
	list-style-type: none;
}

.container>div.box1>a .hd li {
	float: left;
	display: inline-block;
	width: 8px;
	height: 8px;
	background: #D0D0D0;
	margin: 0 5px;
	overflow: hidden;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.container>div.box1>a .hd .on {
	background: #80BD6D;
}

.container>div.box1>a>p:nth-of-type(2) {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -10px;
	padding: 10px 0px;
	border-bottom: 1px solid gainsboro;
}

.container>div.box1>a>p:nth-of-type(2) span {
	display: inline-block;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	background-color: whitesmoke;
	border-radius: 3px;
	font-size: 1.2rem;
	margin-right: 5px;
}

.container>div.box1>a>p:nth-of-type(3) {
	padding-left: 10px;
	font-size: 13.5px;
}

.container>div.box1>a>p:nth-of-type(3) span {
	margin-left: 5px;
}


/*分页*/

.pagination {
	width: 100%;
	text-align: center;
}

.pagination li {
	display: inline-block;
}
/*滚动条添加*/
.screenTop{
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100vw;
}
